// VARIABLES TO BE USED
$totalPageMargin: 100px;
$navWidth: 25vw;
$menuTextWidth: 1.2vw;
$headerOneSize: 6em;
$screenHeight: 100vh;
$footerWidth: 1100px;
$footerHeight:100px;

// Colors
$lightTan: #f7EFDE;
$hotPink: #D82C5d;
$lightBlue: #147BC5;
$orange: #F09F2D;


//Icons
$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.1" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function fa-content($fa-var) {
  @return unquote("\"#{ $fa-var }\"");
}

$fa-var-html5: \f13b;
$fa-var-css3: \f13c;
$fa-var-css3-alt: \f38b;
$fa-var-github: \f09b;
$fa-var-accessible-icon: \f368;