// VARIABLES TO BE USED
$totalPageMargin: 100px;
$navWidth: 25vw;
$menuTextWidth: 1.2vw;
$headerOneSize: 6em;
$screenHeight: 100vh;
$footerWidth: 1100px;
$footerHeight:100px;

// Colors
$lightTan: #f7EFDE;
$hotPink: #D82C5d;
$lightBlue: #147BC5;
$orange: #F09F2D;