@import '_variables.scss';
@import '_mixins.scss';
@import '_keyframes.scss';

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color:#F7EFDE;
	transition: all .4s ease-in-out;
}

a:hover{
	font-weight: 700;
    font-size: 20px;
	letter-spacing: 0.5px;
}

.sidebar h3 {
	transition: all .2s ease-in-out;
}

.sidebar h3:hover {
	color: $lightTan;
}