@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 100px 600px 1fr 1fr;
      grid-template-rows: 100px 600px 1fr 1fr;
}

header {
  display: block;
  background-color: #F7EFDE;
  margin: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  line-height: 100vh;
  height: 100vh;
  text-align: center;
  background-color: red;
}

header h1, header h2 {
  animation: topToBottom 10s linear infinite;
  -ms-animation: topToBottom 10s linear infinite;
  -webkit-animation: topToBottom 10s linear infinite;
  color: black;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  font-size: 50px;
  margin: 0px;
}

header h1 {
  animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  left: 35%;
  right: 35%;
}

header h2 {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  left: 28%;
  right: 28%;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.wrapper {
  position: absolute;
  top: 0px;
  right: -20vw;
  padding-top: 1em;
  height: 100vh;
  width: 25vw;
  opacity: 90%;
}

.wrapper::before {
  content: 'Menu';
}

.design-selection, .design-archives, .zen-resources {
  padding-left: 75px;
}

.design-selection ul, .design-archives ul, .zen-resources ul {
  display: none;
}

.wrapper:hover {
  -webkit-animation: sidebarSlide 1.5s;
          animation: sidebarSlide 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wrapper:hover .wrapper {
  right: -100px;
  background-color: yellow;
  display: none;
}

.wrapper:hover .design-selection:hover ul, .wrapper:hover .design-archives:hover ul, .wrapper:hover .zen-resources:hover ul {
  display: block;
}

@-webkit-keyframes sidebarSlide {
  25% {
    background-color: red;
  }
  100% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
    background-color: red;
  }
}

@keyframes sidebarSlide {
  25% {
    background-color: red;
  }
  100% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
    background-color: red;
  }
}

.summary, .preamble {
  background-color: #F09F2D;
  margin: 0;
  width: 495px;
  height: 495px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  background: red;
  border-radius: 50%;
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.summary {
  -ms-grid-column: 1;
  grid-column: 1;
}

.summary::before {
  content: "Summary";
  font-weight: bold;
  font-size: 1.17em;
  float: center;
  line-height: 100%;
  text-align: center;
}

.explanation {
  -ms-grid-column: 3;
  grid-column: 3;
}

.summary, .preamble {
  background-color: #F09F2D;
  margin: 0;
  width: 495px;
  height: 495px;
  background: red;
  border-radius: 50%;
  margin: 50px;
}

.preamble {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.preamble h3 {
  text-align: center;
  padding-top: 100px;
}

.preamble p {
  text-align: center;
  display: none;
}

.preamble:hover, .summary:hover {
  border-radius: 0;
}

.preamble:hover h3, .summary:hover h3 {
  display: none;
}

.preamble:hover p, .summary:hover p {
  display: block;
}

.preamble p, .summary p {
  text-align: center;
  display: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F7EFDE;
}

a:hover {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  margin: 50px;
}

.sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

#zen-supporting {
  margin-top: 100vh;
}

.supporting div {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: green;
  margin: 1em;
  height: 4em;
}

.supporting div p {
  display: block;
  opacity: 0%;
}

.supporting div:hover {
  -webkit-animation: explanationsExpand 1s;
          animation: explanationsExpand 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.supporting div:hover p {
  -webkit-animation: increaseOpacity 1s;
          animation: increaseOpacity 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes explanationsExpand {
  0% {
    height: auto;
  }
  100% {
    height: auto;
    background-color: yellow;
    opacity: 100%;
  }
}

@keyframes explanationsExpand {
  0% {
    height: auto;
  }
  100% {
    height: auto;
    background-color: yellow;
    opacity: 100%;
  }
}

@-webkit-keyframes increaseOpacity {
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes increaseOpacity {
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=style.css.map */