@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 100px 600px 1fr 1fr;
      grid-template-rows: 100px 600px 1fr 1fr;
}

header {
  display: block;
  padding-bottom: 200px;
  background-color: #F7EFDE;
  margin: 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

header h1, header h2 {
  animation: topToBottom 10s linear infinite;
  -ms-animation: topToBottom 10s linear infinite;
  -webkit-animation: topToBottom 10s linear infinite;
  color: black;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  font-size: 50px;
  padding-top: 30px;
}

header h1 {
  animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  left: 35%;
  right: 35%;
}

header h2 {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  left: 28%;
  right: 28%;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.summary, .preamble {
  background-color: #F09F2D;
  margin: 0;
  width: 500px;
  height: 500px;
  background: red;
  border-radius: 50%;
  margin: 50px;
}

.summary {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.preamble {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.preamble h3 {
  text-align: center;
  padding-top: 100px;
}

.preamble p, .summary p {
  opacity: 0;
  text-align: center;
}

.preamble p:hover, .summary p:hover {
  opacity: 1;
}

.summary::before {
  content: "Summary";
  font-weight: bold;
  font-size: 1.17em;
  float: center;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row: 3;
  margin: 50px;
}

.sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row: 4;
}
/*# sourceMappingURL=style.css.map */