@import 'variables';
@use 'variables';

@import 'mixins';
@use 'mixins';

@import 'keyframes';
@use 'keyframes';

@import 'atoms';
@use 'atoms';

@import 'molecules';
@use 'molecules';

@import 'organisms';
@use 'organisms';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


html{
	overflow-x: hidden;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}




