
@use 'variables' as *;

@import '_variables.scss';
@use '_variables.scss';


@import '_mixins.scss';
@use '_mixins.scss';

@import '_keyframes.scss';
@use '_keyframes.scss';

@import 'atoms.scss';
@use 'atoms.scss';

@import 'molecules.scss';
@use 'molecules.scss';

@import 'organisms.scss';
@use 'organisms.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


html{
	overflow-x: hidden;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}




